<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Mid Autumn Quiz</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
		<img src="http://www.clker.com/cliparts/I/Z/o/3/K/j/paper-lanterns-hi.png" height="200" width="200">
        <h1> Mid Autumn Quiz</h1>

        <p>Login with Google:</p>

        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>

</div>
</body>
</html>